
<div class="page-header"> <h3>Expense Report</h3></div>
<!--<div class="panel panel-primary">
<div class="panel-heading">Expenses</div>-->
    <div>
          <form name="reportForm" novalidate action="#/report">
          <center>
          
          	  Username <input type="text" value="Fowmi" ng-model="reportForm.username" />
          	  <input type="button" value="Get" ng-click="getReport(reportForm)"/>
          	  
          	  <!-- input type="button" onclick="createTable(this.value);" value="Weekly"/>
          	  <input type="button" onclick="createTable(this.value);" value="Monthly"/-->
	          <div id="box">
	          </div>
	      </center>
          </form>
        </div>
</div>