
<div class="page-header"> <h3>Expense Report</h3></div>
<!--<div class="panel panel-primary">
<div class="panel-heading">Expenses</div>-->
    <div>
          <form name="reportForm" novalidate action="#/report">
          <div class="alert alert-danger" ng-show="reportForm_error"> {{ reportForm_error_message }} </div>
          
          <center>
          	  User 
          	  <select ng-model="reportForm.username" ng-options="user for user in users" ng-change="getReport(reportForm)">Pick a user</select>
          	  <!--  input type="button" value="Go" ng-click="getReport(reportForm)"/>-->
          	  <input type="button" value="Clear" ng-click="clearTable()" />
          	  <!-- input type="button" onclick="createTable(this.value);" value="Weekly"/>
          	  <input type="button" onclick="createTable(this.value);" value="Monthly"/-->
	          <div id="box">
	          </div>
	      </center>
          </form>
        </div>
</div>