<div class="page-header"> <h3>Loan </h3></div>
<!--<div class="panel panel-primary">
    <div class="panel-heading">loan</div>-->
    <div>
          <form name="LoanForm" action="#/loan" novalidate>
         
          <table border='1' class='table table-striped'>
            <tr>
                <th> Id </th>
                <th>Loanno </th>
                <th>Customername</th>        
                <th>Amount</th>
                <th>Totalweight </th>
                <th>Item </th>
                <th>Action</th>
            </tr>
             <th></th>
	        <th><input name="loanno" class="form-control" type="text" placeholder="loan no..." maxlength="10" ng-model="newLoan.loanno" ng-required="true" ng-maxlength="6"/></th>
			<th><select ng-model="newLoan.customername" ng-options="user for user in users" class="form-control">Pick a user</select></th>
            <th><input name="amount" class="form-control" type="number" placeholder="amount here..." maxlength="6" ng-model="newLoan.amount" ng-required="true" ng-maxlength="6"/></th>
           <th><input name="totalweight" class="form-control" type="number" placeholder="amount here..." maxlength="6" ng-model="newLoan.totalweight" ng-required="true" ng-maxlength="6"/></th>
           <th><select ng-model="newLoan.item" ng-options="item for item in Item" class="form-control">Pick a item</select></th>
           <th> <a href="#/loan" class="btn" ng-click="addLoan(newLoan)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a></th>
             
                 <tr ng-repeat="data in data" id='_loan_{{data.id}}'>
                <td>{{data.id}}</td>
               <td>{{data.loanno}}</td>
                <td>{{data.customername}}</td>        
                <td>{{data.amount | currency:"INR ":2}}</td>
                <td>{{data.totalweight}}</td>
                <td>{{data.item}}</td>
             
                <td> <a href="#/loan" class="btn" ng-click="deleteLoan(data.id)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></td>
                
                
                 
            </tr>
          </table>
          </form>
        </div>
</div>
