<div class="page-header"> <h3>Customer Details</h3></div>
    <div>
          <form name="customerForm" action="#/customer" novalidate>

          </div>
          <table border='1' class='table table-striped'>
            <tr>
                <th> S.No </th>
                <th>CustomerId</th>
                <th>CompanyName</th>
                <th>Title</th>
                <th>Registration No</th>
                <th>Registration Year</th>
                <th>OwnerName</th>
                <th>Photograph</th>
                <th>ShortDescription</th>
                <th>Registred Address</th>
                <th>Office Address</th>
                <th>Landline No</th>
                <th>Mobile No</th>
                <th>Email Id</th>
                <th>Website</th>
                <th>About Company</th>
                <th>Action</th>

            </tr>
            <!--tr>
                    <th></th>


   <th><input name="customerid" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.customerid" ng-required="true" /></th>
   <th><input name="companyname" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.companyname" ng-required="true"/></th>
   <th><input name="title" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.title" ng-required="true" /></th>
   <th><input name="registrationno" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.registrationno" ng-required="true"/></th>
   <th><input name="registrationyear" class="form-control" type="date" placeholder="" maxlength="10" ng-model="newCustomer.registrationyear" ng-required="true"/></th>
   <th><input name="ownername" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.ownername" ng-required="true" /></th>
   <th><input name="photograph" class="form-control" type="file" placeholder="" maxlength="10" ng-model="newCustomer.photograph" ng-required="true" /></th>
   <th><input name="shortdescription" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.shortdescription" ng-required="true"/></th>
   <th><input name="registredaddress" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.registredaddress" ng-required="true" /></th>
   <th><input name="officeaddress" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.officeaddress" ng-required="true" /></th>
   <th><input name="landlineno" class="form-control" type="number" placeholder="" maxlength="10" ng-model="newCustomer.landlineno" ng-required="true" /></th>
   <th><input name="mobileno" class="form-control" type="number" placeholder="" maxlength="10" ng-model="newCustomer.mobileno" ng-required="true" /></th>
   <th><input name="emailid" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.emailid" ng-required="true" /></th>
   <th><input name="website" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.website" ng-required="true" /></th>
   <th><input name="aboutcompany" class="form-control" type="text" placeholder="" maxlength="10" ng-model="newCustomer.aboutcompany" ng-required="true" /></th>

                <th>

                    <a href="#/customer" class="btn" ng-click="addCustomer(newCustomer)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
                </th>
            </tr-->
            <tr ng-repeat="data in data" id='_customer_{{data.id}}'>
                <td>{{$index +1}}</td>
                <td>{{data.customerid}}</td>
                <td>{{data.companyname}}</td>
                <td>{{data.title}}</td>
                <td>{{data.registrationno}}</td>
                <td>{{data.registrationyear|date : 'mediumDate'}}</td>
                <td>{{data.ownername}}</td>
                <td>{{data.photograph}}</td>
                <td>{{data.shortdescription}}</td>
                <td>{{data.registredaddress}}</td>
                <td>{{data.officeaddress}}</td>
                <td>{{data.landlineno}}</td>
                <td>{{data.mobileno}}</td>
                <td>{{data.emailid}}</td>
                <td>{{data.website}}</td>
                <td>{{data.aboutcompany}}</td>
                
                <td><a href="#/customer" class="btn" ng-click="deleteCustomer(data.id)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                        </tr>
          </table>
          </form>
        </div>
</div>
