
<div align="center">
<ul class="nav nav-stacked">
    <li role="presentation" class="active"><a class="btn btn-default"href="#/user">User</a></li>
    <li role="presentation" class="active"><a class="btn btn-default" href="#/currency">Currency</a></li>
        <li role="presentation" class="active"><a class="btn btn-default" href="#/catalog">Catalog</a></li>
         <li role="presentation" class="active"><a class="btn btn-default" href="#/payment">Payment</a></li>
         <li role="presentation"><a class="btn btn-default" href="#/expense type">Expense Type</a></li>
         
</ul>
</div>