
<div align="center">
<ul class="nav nav-stacked">
    <li role="presentation" class="active"><a class="btn btn-default"href="#/user">User</a></li>
    <li role="presentation" class="active"><a class="btn btn-default" href="#/currency">Currency</a></li>
        <li role="presentation" class="active"><a class="btn btn-default" href="#/catalog">Catalog</a></li>
         <li role="presentation" class="active"><a class="btn btn-default" href="#/payment">Payment</a></li>
          <li role="presentation" class="active"><a class="btn btn-default" href="#/discount">Discount</a></li>
         <li role="presentation" class="active"><a class="btn btn-default" href="#/customer">Customer</a></li>
         
</ul>
</div>