<div class="page-header"> <h3>Article </h3></div>
   
    <div>
          <form name="articleForm" action="#/article" novalidate>
         <table border='1' class='table table-striped' id="result" >
            <tr>
                <th> Id</th>
                <th>Title</th> 
                <th>Publish Date </th>
                <th>Content </th> 
                <th>Category </th>
                <th>Type</th>
                <th>Item</th>
                 <th>Summary</th>
                 <th>Action</th>
                
                 </tr>
                 <tr> 
                <th></th>
   <th><input name="title" class="form-control" type="text" placeholder="title..."  ng-model="newArticle.title" ng-required="true" /></th>             
  <th><input name="publishdate" class="form-control" type="date"  ng-model="newArticle.publishdate" ng-required="true" /></th>             
  <th><input name="content" class="form-control" type="text" placeholder="content.."  ng-model="newArticle.content" ng-required="true" /></th>             
  <th><input name="category" class="form-control" type="text" placeholder="category.."  ng-model="newArticle.category" ng-required="true" /></th>             
  <th><input name="type" class="form-control" type="text" placeholder="type.."  ng-model="newArticle.type" ng-required="true" /></th>             
  <th><input name="item" class="form-control" type="text" placeholder="item.."  ng-model="newArticle.item" ng-required="true" /></th>             
  <th><input name="summary" class="form-control" type="text" placeholder="summary.."  ng-model="newArticle.summary" ng-required="true" /></th>             
  
          
    <th><a href="#/article" class="btn" ng-click="addArticle(newArticle)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
 
             </tr>
           
              <tr ng-repeat="data in data"  id='_article_{{data.id}}' >
              
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.publishdate|date:'mediumDate'}}</td>
                <td>{{data.content}}</td>
                <td>{{data.category}}</td>
                <td>{{data.type}}</td>
                <td>{{data.item }}</td>
                <td>{{data.summary}}</td>
                
                <td><a href="#/article" class="btn btn-primary" ng-click="deleteArticle(data.id)">
                		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></td>
  
                </td>
                                
                </table>
            </form>
            
        </div>
</div>
                
        