<ion-view title="Product">
    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
            <button class="button button-positive button-clear button-block  icon ion-android-cart"></button>
             </div>
        <div class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div>
					<p> Name 	   : {{itemname}}</p>
					<p>Price       : Rs : {{purchaseprice|currency:"":2}}</p>
                    <p>Description : {{itemtype}}</p>
					<p style="color:red;">Discount    :{{discountpercentage}}%</p>
					<p style="color:blue;">Net Price : Rs. {{purchaseprice-purchaseprice*discountpercentage/100|currency:"":2}}<p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>