<div class="page-header"> <h3>Inventory </h3></div>
<!--<div class="panel panel-primary">
    <div class="panel-heading">Expenses</div>-->
    <div>
          <form name="inventoryForm" action="#/inventory" novalidate>
        
          <table border='1' class='table table-striped'>
            <tr>
                <th> Id </th>
                <th>Item Name</th> 
                <th>Itemtype </th>
                <th>Quantity </th> 
                <th>Alertlimit </th>
                <th>PurchasePrice</th>
                <th>DiscountPercentage</th>
                 <th>PurchaseDate</th>
                 <th>SaleDate</th>
                 <th>Image</th>
                <th>Action</th>
                
                 </tr>
                 <tr> 
                <th></th>
   <th><input name="itemname" class="form-control" type="text" placeholder="Item Name.."  ng-model="newInventory.itemname" ng-required="true" /></th>             
   <!-- <th><input name="itemname" class="form-control" type="text" placeholder="Itemname..." ng-model="newInventory.itemname" ng-required="true"></th>-->
   <th><input name="itemtype" class="form-control" type="text" placeholder=" ItemType..." ng-model="newInventory.itemtype" ng-required="true"/></th>
   <th><input name="quantity" class="form-control" type="number" placeholder="Quantity..." ng-model="newInventory.quantity" ng-required="true"/></th>
   <th><select ng-model="newInventory.alertlimit" ng-options="type for type in alertlimit" placeholder="Select" class="form-control">Pick a user</select></th>
   <th><input name="purchaseprice" class="form-control" type="number" placeholder="purchaseprice.." ng-model="newInventory.purchaseprice" ng-required="true"/></th>
   <th><input name="discountpercentage" class="form-control" type="text" placeholder="Discount %..." ng-model="newInventory.discountpercentage" ng-required="true"/></th>
   <th><input name="purchasedate" class="form-control" type="date" placeholder="" ng-model="newInventory.purchasedate" ng-required="true"/></th>
   <th><input name="saledate" class="form-control" type="date" placeholder="" ng-model="newInventory.saledate" ng-required="true"/></th>
    <th><input name="image" class="form-control" type="text" placeholder="path"  ng-model="newInventory.image" ng-required="true" /></th>
   
   
   
   
   <th><a href="#/inventory" class="btn" ng-click="addInventory(newInventory)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
 
             </tr>
            <tr ng-repeat="data in data" id='_inventory_{{data.id}}'>
                <td>{{data.id}}</td>
                <td>{{data.itemname}}</td>
                <td>{{data.itemtype}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.alertlimit}}</td>
                <td>{{data.purchaseprice}}</td>
                <td>{{data.discountpercentage}}</td>
                <td>{{data.purchasedate| date :'mediumDate'}}</td>
                <td>{{data.saledate | date :'mediumDate'}}</td>
                <td>{{data.image}}</td>  
                <td><a href="#/inventory" class="btn btn-primary" ng-click="deleteInventory(data.id)">
                		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></td>
  
                </td>
               
            </tr>
          </table>
          </form>
        </div>
</div>
