<style>
.pagination{height:40px;margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:0 14px;line-height:38px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
</style>
 
<div class="page-header"> <h3>Inventory </h3></div>
   

<!--<div class="panel panel-primary">
    <div class="panel-heading">Expenses</div>-->
     <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    
    <div>
          <form name="inventoryForm" action="#/inventory"  ng-submit="submitForm()" novalidate>
         <table border='1' class='table table-striped' id="result" >
            <tr>
                <th> Id</th>
                <th>Name</th> 
                <th>Type </th>
                <th>Quantity </th> 
                <th>Alertlimit </th>
                <th>Price</th>
                <th>Discount</th>
                 <th>PurchaseDate</th>
                 <th>SaleDate</th>
                 <th>Image</th>
                 <th>CreatedBy</th>
                 <th>CreatedTimeStamp</th>
                 <th>ModifiedBy</th>
                 <th>ModifiedTimeStamp</th>
                 <th>Action</th>
                <th>update</th>
                
                 </tr>
                 <tr> 
                <th></th>
<th><input name="name" class="form-control" type="text" placeholder="Item Name.."  ng-model="newInventory.name" ng-required="true"/></th>             
<th><input name="type" class="form-control" type="text" placeholder=" ItemType..." ng-model="newInventory.type" ng-required="true"/></th>
<th><input name="quantity" class="form-control" type="number" placeholder="Quantity..." ng-model="newInventory.quantity" ng-required="true" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
     type = "number" maxlength = "4"/></th>
<th><select ng-model="newInventory.alertlimit" ng-options="type for type in alertlimit" placeholder="Select" class="form-control">Pick a user</select></th>
<th><input name="price" class="form-control" type="number" placeholder="purchaseprice.." ng-model="newInventory.price" ng-required="true" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
     type = "number" maxlength = "6"/></th>
<th><input name="discount" class="form-control" type="number" placeholder="Discount %..." ng-model="newInventory.discount" ng-required="true"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
     type = "number" maxlength = "2"/></th>
<th><input name="purchasedate" class="form-control" type="date" placeholder="" ng-model="newInventory.purchasedate" ng-required="true"/></th>
<th><input name="saledate" class="form-control" type="date" placeholder="" ng-model="newInventory.saledate" ng-required="true"/></th>
<th><input id="inputFileToLoad" type="file"  onchange="readFile();">
<input name="image" id="fill" class="form-control" type="text" ng-model="newInventory.image" ng-required="true"></th>

<!-- <th><input name="image" class="form-control" type="file" placeholder="path"  ng-model="newInventory.image" ng-required="true" /></th>-->
<th><input name="createdby" class="form-control" type="text" placeholder="" ng-model="newInventory.createdby" ng-required="true"/></th>
<th><input name="createdtimestamp" class="form-control" type="time" placeholder="" ng-model="newInventory.createdtimestamp" ng-required="true"/></th>
<th><input name="modifiedby" class="form-control" type="text" placeholder="" ng-model="newInventory.modifiedby" ng-required="true"/></th>
<th><input name="modifiedtimestamp" class="form-control" type="time" placeholder="" ng-model="newInventory.modifiedtimestamp" ng-required="true"/></th>
  
  
   <!-- <th><input type = "file" file-model = "myFile" class="from-control" ng-model="newInventory.image" ng-required="true" /></th>-->
    <!--   <th> <input type="file" id="file1" name="image" ng-files="getTheFiles($files)" ng-model="newInventory.image" name="image" class="form-control"/></th>-->
    
   <!--   <th> <input type="file" id="filePicker" />
    <textarea id="base64textarea" placeholder="Base64 will appear here"  cols="50" rows="2" name="image" class="form-control" ng-model="newInventory.image" ng-required="true"></textarea>
    </th>-->
   <!-- <th>
   <input type="text" fileread="url" name="image" class="form-control" ng-model="newInventory.image" />
     <pre>{{url}}</pre>
    </div>
    </th>-->
          
    <th><a href="#/inventory" class="btn"  ng-click="addInventory(newInventory)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </a>
      <th><a href="" class="btn" ng-click=""><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></th>
             </tr>
           
              <tr ng-repeat="data in data[currentPage]"  id='_inventory_{{data.id}}' >
              
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.type}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.alertlimit}}</td>
                <td>{{data.price |currency:"":2 }}</td>
                <td>{{data.discount}}</td>
                <td>{{data.purchasedate| date :'mediumDate'}}</td>
                <td>{{data.saledate | date :'mediumDate'}}</td>
                <td><img src="{{data.image}}" height="20" width="20"></td> 
                <td>{{data.createdby}}</td> 
                <td>{{data.createdtimestamp | date :'mediumDate'}}</td>
                 <td>{{data.modifiedby}}</td> 
               <td>{{data.modifiedtimestamp | date :'mediumDate'}}</td>             
                
                <td><a href="#/inventory" class="btn btn-primary" ng-click="deleteInventory(data.id)">
                		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></td>
  
                </td>
                 <td><a href="#/inventory" class="btn btn-primary" ng-click="putInventory(data.id)">
                		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
  
                </td>
                                
                </table>
            </form>
             <td>
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()"><<</a>
                                </li>
                                <li ng-repeat="n in range(data.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                               <li ng-class="{disabled: currentPage == (data.length/5)-1}">
                                    <a href ng-click="nextPage()">>></a>
                                </li>
                            </ul>
                        </div>
                    </td>
        
           
        </div> 
        </div>
</div>

<script>


</script>
                
        